In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,recall_score,f1_score,confusion_matrix,classification_report
from sklearn.preprocessing import LabelEncoder

In [27]:
df=pd.read_csv(r"C:\Users\Hp\Desktop\my bank.csv")
df.describe

<bound method NDFrame.describe of        age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]>

In [28]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [29]:
z=pd.DataFrame(df)
z

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [30]:
z.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [31]:
df.info

<bound method DataFrame.info of        age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]>

In [32]:
#for missing value 
# df["age"].fillna(df["age"].mean(),inplace=True)
#another way
# df["age"].fillna(df["age"].median(),inplace=True)
# df["age"].fillna(df["age"].mode()[0],inplace=True)
# #for drop column
# df.drop("",axis=1,inplace=True)
# encoding the label encoding data
# using for loop
# le=LabelEncoder()
# for i in df.columns:
#     df[i].dtype=="object"
#     df[i]=le.transform(df[i])
# in this dataset no missing value i skip it

# encoding data

In [33]:
df1=pd.get_dummies(df,drop_first=True,dtype=int)
df1

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,y_yes
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,33,2,5,76,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,47,1506,5,92,1,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
45207,71,1729,17,456,2,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
45208,72,5715,17,1127,5,184,3,0,0,0,...,0,0,0,1,0,0,0,1,0,1
45209,57,668,17,508,4,-1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
45210,37,2971,17,361,2,188,11,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [34]:
df1.info()
df1.keys()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   day                  45211 non-null  int64
 3   duration             45211 non-null  int64
 4   campaign             45211 non-null  int64
 5   pdays                45211 non-null  int64
 6   previous             45211 non-null  int64
 7   job_blue-collar      45211 non-null  int32
 8   job_entrepreneur     45211 non-null  int32
 9   job_housemaid        45211 non-null  int32
 10  job_management       45211 non-null  int32
 11  job_retired          45211 non-null  int32
 12  job_self-employed    45211 non-null  int32
 13  job_services         45211 non-null  int32
 14  job_student          45211 non-null  int32
 15  job_technician       45211 non-null  int32
 16  job_unemployed       45211 non-null  int32
 17  job_unknown          45211 non-null  int32
 18  marital_married      45211 non-null  int32
 19  marital_single       45211 non-null  int32
 20  education_secondary  45211 non-null  int32
 21  education_tertiary   45211 non-null  int32
 22  education_unknown    45211 non-null  int32
 23  default_yes          45211 non-null  int32
 24  housing_yes          45211 non-null  int32
 25  loan_yes             45211 non-null  int32
 26  contact_telephone    45211 non-null  int32
 27  contact_unknown      45211 non-null  int32
 28  month_aug            45211 non-null  int32
 29  month_dec            45211 non-null  int32
 30  month_feb            45211 non-null  int32
 31  month_jan            45211 non-null  int32
 32  month_jul            45211 non-null  int32
 33  month_jun            45211 non-null  int32
 34  month_mar            45211 non-null  int32
 35  month_may            45211 non-null  int32
 36  month_nov            45211 non-null  int32
 37  month_oct            45211 non-null  int32
 38  month_sep            45211 non-null  int32
 39  poutcome_other       45211 non-null  int32
 40  poutcome_success     45211 non-null  int32
 41  poutcome_unknown     45211 non-null  int32
 42  y_yes                45211 non-null  int32
dtypes: int32(36), int64(7)
memory usage: 8.6 MB

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'contact_telephone', 'contact_unknown', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown', 'y_yes'],
      dtype='object')

In [35]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False,drop="first")

In [36]:
ohearr=ohe.fit_transform(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact','month','poutcome', 'y']])
ohearr

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [37]:
ohedf=pd.DataFrame(ohearr,columns=['job_blue-collar','job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services','job_student', 'job_technician', 'job_unemployed', 'job_unknown','marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'contact_telephone', 'contact_unknown', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown', 'y_yes'])
ohedf

,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,y_yes
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
45207,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
45208,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
45209,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
45210,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

## spirit target variable and feature

In [38]:
x=df1.drop("y_yes",axis=1)#independent variable
y=df1["y_yes"]#dependent variable
print(x.shape)
print(y.shape)

(45211, 42)
(45211,)

# train test split

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)
print(xtrain.shape)

(36168, 42)

# standardrization

In [40]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
sc=StandardScaler()
sc.fit(xtrain)
xtrain1=sc.transform(xtrain)
xtest1=sc.transform(xtest)
#now convert it into dataframe
dra=pd.DataFrame(xtrain1,columns=['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'contact_telephone', 'contact_unknown', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown'])
dra.describe().round(2)

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
count,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,...,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00,36168.00
mean,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,-0.00,0.00,0.00,0.00,...,-0.00,-0.00,-0.00,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.16,-3.10,-1.78,-1.00,-0.57,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,-2.11
25%,-0.75,-0.43,-0.93,-0.60,-0.57,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
50%,-0.18,-0.30,0.03,-0.30,-0.25,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
75%,0.67,0.02,0.63,0.24,0.07,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,1.51,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
max,5.10,33.32,1.83,18.07,17.69,8.29,29.96,1.90,5.39,5.97,...,2.35,2.73,9.65,1.51,3.21,7.69,8.78,4.87,5.37,0.47

In [41]:
dra2=pd.DataFrame(xtest1,columns=['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'contact_telephone', 'contact_unknown', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown'])
dra2.describe().round(2)

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
count,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,...,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00,9043.00
mean,0.01,0.01,0.01,0.00,-0.03,-0.00,0.01,-0.01,-0.01,0.00,...,-0.01,-0.01,-0.00,0.01,-0.01,-0.01,0.00,0.00,-0.00,0.00
std,1.01,1.03,1.00,0.99,0.96,1.00,1.80,0.99,0.97,1.01,...,0.99,0.99,0.98,1.00,0.99,0.96,1.00,1.01,0.99,1.00
min,-2.16,-2.71,-1.78,-1.00,-0.57,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,-2.11
25%,-0.75,-0.42,-0.93,-0.60,-0.57,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
50%,-0.18,-0.29,0.03,-0.31,-0.25,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,-0.66,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
75%,0.76,0.04,0.63,0.23,0.07,-0.41,-0.30,-0.53,-0.19,-0.17,...,-0.43,-0.37,-0.10,1.51,-0.31,-0.13,-0.11,-0.21,-0.19,0.47
max,5.01,26.40,1.83,13.68,19.29,8.08,143.20,1.90,5.39,5.97,...,2.35,2.73,9.65,1.51,3.21,7.69,8.78,4.87,5.37,0.47

# logisticRegression Model

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
lgrg=LogisticRegression()

In [44]:
lgrg.fit(xtrain,ytrain)

C:\Users\Hp\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [45]:
prediction0=lgrg.predict(xtest)
prediction0

array([0, 0, 0, ..., 0, 0, 0])

In [46]:
df = pd.DataFrame({'Actual': ytest, 'Predicted': prediction0})

# Evaluation of model

In [47]:
print("the accuracy score is",accuracy_score(prediction0,ytest))
print("the recall  score is",recall_score(prediction0,ytest))
print("the f1 score score is", f1_score(prediction0,ytest))
print("the  classification report score is:\n",classification_report(prediction0,ytest))
print("the confusion_matrix is:\n",confusion_matrix(prediction0,ytest))

the accuracy score is 0.8898595598805706
the recall  score is 0.5615763546798029
the f1 score score is 0.3140495867768595
the  classification report score is:
               precision    recall  f1-score   support

           0       0.98      0.91      0.94      8637
           1       0.22      0.56      0.31       406

    accuracy                           0.89      9043
   macro avg       0.60      0.73      0.63      9043
weighted avg       0.94      0.89      0.91      9043

the confusion_matrix is:
 [[7819  818]
 [ 178  228]]

# Decision Tree Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
Dtree=DecisionTreeClassifier(criterion="gini")

In [ ]:
Dtree.fit(xtrain,ytrain)

In [ ]:
Dtree.score(xtest,ytest)

In [ ]:
Dtree1=DecisionTreeClassifier(criterion="entropy")
Dtree1.fit(xtrain1,ytrain)

In [ ]:
Dtree1.score(xtest1,ytest)

In [ ]:
prediction=Dtree1.predict(xtest)
prediction

In [ ]:
df = pd.DataFrame({'Actual': ytest, 'Predicted': prediction})
df.head(20)

# Evaluation of Model

In [ ]:
print("the accuracy score is",accuracy_score(prediction,ytest))
print("the recall  score is",recall_score(prediction,ytest))
print("the f1 score score is", f1_score(prediction,ytest))
print("the  c;assification report score is: \n",classification_report(prediction,ytest))
print("the confusion_matrix is:\n",confusion_matrix(prediction,ytest))

#

# Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
ranforclass=RandomForestClassifier(criterion="entropy", n_estimators=100)
ranforclass.fit(xtrain1,ytrain)

In [ ]:
ranforclass.score(xtest1,ytest)

In [ ]:
prediction1=ranforclass.predict(xtest1)

In [ ]:
df = pd.DataFrame({'Actual': ytest, 'Predicted': prediction1})
df

# Evaluation of Model

In [ ]:
print("the accuracy score is",accuracy_score(prediction1,ytest))
print("the recall  score is",recall_score(prediction1,ytest))
print("the f1 score score is", f1_score(prediction1,ytest))
print("the classification report score is :\n",classification_report(prediction1,ytest))
print("the confusion_matrix is:\n",confusion_matrix(prediction1,ytest))

#